.advantages {
  background-color: #ffffff;
}

.advantages__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
}
