.button {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: $base-color-page;
  color: #ffffff;
  text-align: center;
  border: none;
}
