.form__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.form__subtitle {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.form__field {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-text;
  background-color: #ffffff;
}

.form__field-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.form__name--e-mail {
  position: relative;
}

.form__icon--e-mail {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 13px;
  mask-image: url("../../images/icons/stack.svg#icon_e-mail");
  background-color: #000000;
  top: 8px;
  right: 5px;
}

.form__name--e-mail:hover .form__icon--e-mail,
.form__name--e-mail:focus .form__icon--e-mail {
  background-color: $base-color-page;
}

.form__name--tel {
  position: relative;
}

.form__icon--tel {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 13px;
  mask-image: url("../../images/icons/stack.svg#icon_phone");
  background-color: #000000;
  top: 8px;
  right: 5px;
}

.form__name--tel:hover .form__icon--tel,
.form__name--tel:focus .form__icon--tel {
  background-color: $base-color-page;
}
