.intro {
  background-color: $base-color-page;
  width: auto;
  height: 276px;
  padding-top: 27px;
  padding-left: 18px;
  margin-bottom: 197px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
}

.intro__slogan {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: -5px;
}

.intro__link {
  order: 2;
}

.intro__link.button {
  padding: 9px;
  text-transform: uppercase;
}

.intro__image {
  margin-left: 2px;
}
