.main-nav {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;
}
