@keyframes nav-appearance {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-nav {
  display: none;
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $secondary-color;
  z-index: 5;
  animation: nav-appearance 0.2s ease-in;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    min-width: 436px;
    animation: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--active {
  display: block;
}

.main-nav--nojs.main-nav {
  display: block;
  position: relative;
}

.main-nav__list {
  margin: 0 0 0 -4px;
}

.main-nav__list--form {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
