.nutrition {
  background-color: $secondary-color-page;
}

.nutrition__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

.nutrition__title--weight-loss {
  position: relative;
}

.nutrition__title--weight-loss::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 53px;
  background-image: url("../../images/icons/stack.svg#cat_black_standing");
}

.nutrition__title--weight-gain::before {
  content: "";
  display: inline-block;
  width: 67px;
  height: 50px;
  background-image: url("../../images/icons/stack.svg#cat_black_walking");
}

.nutrition__link {
  position: relative;
  display: block;
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.nutrition__link::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 10px;
  background-image: url("../../images/icons/stack.svg#icon_arrow_long");
  background-position: -8px;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  top: 5px;
  left: 95px;
}

.nutrition__link:hover::after {
  background-position: 0;
}

.nutrition__link:active {
  opacity: 0.6;
}
