.nutrition__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nutrition__title--weight-loss {
  position: relative;
}

.nutrition__title--weight-loss::before {
  content: "";
  display: inline-block;
  top: 10px;
  width: 50px;
  height: 53px;
  margin-right: 20px;
  background-image: url("../../images/icons/stack.svg#cat_black_standing");
}

.nutrition__title--weight-gain::before {
  content: "";
  display: inline-block;
  width: 67px;
  height: 50px;
  background-image: url("../../images/icons/stack.svg#cat_black_walking");
}

.nutrition__wrapper {
  margin: 0;
  bottom: 0;
}

.nutrition__list {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.nutrition__item {
  background-color: $secondary-color-page;
  width: 260px;
  margin-left: 20px;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 22px;
}

.nutrition__item--weight-loss {
  margin-bottom: 23px;
}

.nutrition__description {
  margin-bottom: 42px;
}

.nutrition__item--weight-gain .nutrition__description {
  width: 227px;
}

.nutrition__link {
  position: relative;
  display: block;
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nutrition__link::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 10px;
  background-image: url("../../images/icons/stack.svg#icon_arrow_long");
  background-position: -8px;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  top: 5px;
  left: 95px;
}

.nutrition__link:hover::after {
  background-position: 0;
}

.nutrition__link:active {
  opacity: 0.6;
}
