.socials {
  background-color: $third-color-page;
}

.socials__list {
  display: flex;
  gap: 24px;
  margin: 0;
  margin-top: -3px;
  margin-left: 94px;
  padding: 0;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: $base-color-page;
}

.socials__link:active .socials__icon {
  opacity: 0.6;
}
